
<div class="row">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{post.autor.nome}} - 
      <!-- <small class=""> {{date|date:'d/m/y'}} </small>  -->
        <div class="pull-right">
          <span
                (click)="isFavorite=!isFavorite" 
                class="favoriteIt label label-default" 
                [ngClass]="{ 'alert-warning': isFavorite }">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
            <!-- {{post.totalFavorites}} -->
          </span>
        </div>
    </h4>
  </div>
  <div class="panel-body">
    <div [innerHTML]="post.mensagem"></div>
  </div>
  
</div>
